* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #DCDCDC;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

header {
    background-color: #DCDCDC;
    padding: 0.rem 0; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
.nav-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.logo {
    grid-column: 1;
}

.logo img {
    max-width: 300px;
    width: 40%; 
    height: auto;
}

.menu {
    grid-column: 3;
    justify-self: end;
}

.menu li {
    display: inline;
    margin-left: 1rem;
}

.hero {
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    border: 2px solid #000; 
    border-radius: 5px; 
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.cta {
    background-color: #fff;
    color: #ff6347;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    
}
.cta:hover {
    background-color: #fff; 
    color: #0d8ee2; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);     

  }
footer {
    background-color: #f4f4f4;
    padding: 1rem 0;
    text-align: center;
}

.page-title {
    font-family: 'Chewy', cursive;
    font-size: 2.5rem;
    margin: 0;
    grid-column: 2;
    justify-self: center;
    
}



.how-to-use, .examples {
    background-color: #f4f4f4;
    padding: 2rem 0;
}

.how-to-use h2, .examples h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.warning{
    text-align: center;
}


.info-section, .about {
    border: 2px solid #000; 
    border-radius: 5px; 
  }
.info-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem; 
  }
  
  .about {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  .about:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); 
    transform: translateY(-5px); 
    background-color: #e6f2ff;
  }
  
  .info-section {
    width: 45%; 
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #ffffff;
  }
  
  .info-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .info-section:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    background-color: #e6f2ff;
  }

  .image-examples {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .image-examples img {
    max-width: 45%;
    height: auto;
  }

  .hero, .info-section, .about {
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1); 
  }
  